.dx-btn-primary, .dx-btn-secondary, .dx-btn-success, .dx-btn-danger, .dx-btn-warning {
  position: relative;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9rem;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0 1rem;
  min-width: 100px;
  border-radius: 0.25rem;
  font-weight: 500;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  min-height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dx-text-center {
  text-align: center;
}

.dx-text-right {
  text-align: right;
}

.dx-text-left {
  text-align: left;
}

.dx-text-justify {
  text-align: justify;
}

.dx-form-control textarea {
  width: 100%;
  font-size: 0.95em;
  padding: 0.4em 0.8em;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #fff;
  transition: border-color 0.2s ease;
}
.dx-form-control textarea:focus {
  outline: none;
  border-bottom: 1px solid #0652dd;
}
.dx-form-control textarea::-moz-placeholder {
  color: #aaa;
}
.dx-form-control textarea::placeholder {
  color: #aaa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid #d2d6dc;
  -webkit-font-smoothing: antialiased;
}

ol,
ul {
  list-style: none;
}

fieldset,
ol,
ul {
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #0652dd;
}

a {
  color: inherit;
  text-decoration: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fafafa;
  color: #535353;
  margin: 0;
}

input::-moz-placeholder {
  color: #a0a4a8;
  opacity: 1;
}

input::placeholder {
  color: #a0a4a8;
  opacity: 1;
}

span strong {
  color: #535353;
  font-weight: 500;
}

.dx-cursor-pointer {
  cursor: pointer;
}

.dx-no-underline {
  text-decoration: none;
}
.dx-no-underline .hover\:dx-no-underline:hover {
  text-decoration: none;
}

html, body {
  height: 100%;
}

.dx-container {
  display: flex;
}

.dx-container-adm {
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  position: relative;
  flex-grow: 1;
}

.dx-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.dx-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dx-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.dx-px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.dx-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.dx-px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.dx-px-7 {
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.dx-px-8 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.dx-px-9 {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.dx-px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.dx-px-11 {
  padding-left: 2.75rem;
  padding-right: 2.75rem;
}

.dx-px-12 {
  padding-left: 3rem;
  padding-right: 3rem;
}

.dx-px-13 {
  padding-left: 3.25rem;
  padding-right: 3.25rem;
}

.dx-px-14 {
  padding-left: 3.5rem;
  padding-right: 3.5rem;
}

.dx-px-15 {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
}

.dx-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.dx-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dx-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.dx-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.dx-py-5 {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.dx-py-6 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.dx-py-7 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}

.dx-py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.dx-py-9 {
  padding-top: 2.25rem;
  padding-bottom: 2.25rem;
}

.dx-py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.dx-py-11 {
  padding-top: 2.75rem;
  padding-bottom: 2.75rem;
}

.dx-py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.dx-py-13 {
  padding-top: 3.25rem;
  padding-bottom: 3.25rem;
}

.dx-py-14 {
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}

.dx-py-15 {
  padding-top: 3.75rem;
  padding-bottom: 3.75rem;
}

.dx-pt-1 {
  padding-top: 0.25rem;
}

.dx-pb-1 {
  padding-bottom: 0.25rem;
}

.dx-pl-1 {
  padding-left: 0.25rem;
}

.dx-pr-1 {
  padding-right: 0.25rem;
}

.dx-pt-2 {
  padding-top: 0.5rem;
}

.dx-pb-2 {
  padding-bottom: 0.5rem;
}

.dx-pl-2 {
  padding-left: 0.5rem;
}

.dx-pr-2 {
  padding-right: 0.5rem;
}

.dx-pt-3 {
  padding-top: 0.75rem;
}

.dx-pb-3 {
  padding-bottom: 0.75rem;
}

.dx-pl-3 {
  padding-left: 0.75rem;
}

.dx-pr-3 {
  padding-right: 0.75rem;
}

.dx-pt-4 {
  padding-top: 1rem;
}

.dx-pb-4 {
  padding-bottom: 1rem;
}

.dx-pl-4 {
  padding-left: 1rem;
}

.dx-pr-4 {
  padding-right: 1rem;
}

.dx-pt-5 {
  padding-top: 1.25rem;
}

.dx-pb-5 {
  padding-bottom: 1.25rem;
}

.dx-pl-5 {
  padding-left: 1.25rem;
}

.dx-pr-5 {
  padding-right: 1.25rem;
}

.dx-pt-6 {
  padding-top: 1.5rem;
}

.dx-pb-6 {
  padding-bottom: 1.5rem;
}

.dx-pl-6 {
  padding-left: 1.5rem;
}

.dx-pr-6 {
  padding-right: 1.5rem;
}

.dx-pt-7 {
  padding-top: 1.75rem;
}

.dx-pb-7 {
  padding-bottom: 1.75rem;
}

.dx-pl-7 {
  padding-left: 1.75rem;
}

.dx-pr-7 {
  padding-right: 1.75rem;
}

.dx-pt-8 {
  padding-top: 2rem;
}

.dx-pb-8 {
  padding-bottom: 2rem;
}

.dx-pl-8 {
  padding-left: 2rem;
}

.dx-pr-8 {
  padding-right: 2rem;
}

.dx-pt-9 {
  padding-top: 2.25rem;
}

.dx-pb-9 {
  padding-bottom: 2.25rem;
}

.dx-pl-9 {
  padding-left: 2.25rem;
}

.dx-pr-9 {
  padding-right: 2.25rem;
}

.dx-pt-10 {
  padding-top: 2.5rem;
}

.dx-pb-10 {
  padding-bottom: 2.5rem;
}

.dx-pl-10 {
  padding-left: 2.5rem;
}

.dx-pr-10 {
  padding-right: 2.5rem;
}

.dx-pt-11 {
  padding-top: 2.75rem;
}

.dx-pb-11 {
  padding-bottom: 2.75rem;
}

.dx-pl-11 {
  padding-left: 2.75rem;
}

.dx-pr-11 {
  padding-right: 2.75rem;
}

.dx-pt-12 {
  padding-top: 3rem;
}

.dx-pb-12 {
  padding-bottom: 3rem;
}

.dx-pl-12 {
  padding-left: 3rem;
}

.dx-pr-12 {
  padding-right: 3rem;
}

.dx-pt-13 {
  padding-top: 3.25rem;
}

.dx-pb-13 {
  padding-bottom: 3.25rem;
}

.dx-pl-13 {
  padding-left: 3.25rem;
}

.dx-pr-13 {
  padding-right: 3.25rem;
}

.dx-pt-14 {
  padding-top: 3.5rem;
}

.dx-pb-14 {
  padding-bottom: 3.5rem;
}

.dx-pl-14 {
  padding-left: 3.5rem;
}

.dx-pr-14 {
  padding-right: 3.5rem;
}

.dx-pt-15 {
  padding-top: 3.75rem;
}

.dx-pb-15 {
  padding-bottom: 3.75rem;
}

.dx-pl-15 {
  padding-left: 3.75rem;
}

.dx-pr-15 {
  padding-right: 3.75rem;
}

.dx-m-auto {
  margin: auto;
}

.dx-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.dx-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.dx-mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.dx-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.dx-mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.dx-mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.dx-mx-5 {
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

.dx-mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.dx-mx-7 {
  margin-left: 1.75rem;
  margin-right: 1.75rem;
}

.dx-mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.dx-mx-9 {
  margin-left: 2.25rem;
  margin-right: 2.25rem;
}

.dx-mx-10 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.dx-mx-11 {
  margin-left: 2.75rem;
  margin-right: 2.75rem;
}

.dx-mx-12 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.dx-mx-13 {
  margin-left: 3.25rem;
  margin-right: 3.25rem;
}

.dx-mx-14 {
  margin-left: 3.5rem;
  margin-right: 3.5rem;
}

.dx-mx-15 {
  margin-left: 3.75rem;
  margin-right: 3.75rem;
}

.dx-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.dx-my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.dx-my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.dx-my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dx-my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.dx-my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.dx-my-7 {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.dx-my-8 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.dx-my-9 {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.dx-my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.dx-my-11 {
  margin-top: 2.75rem;
  margin-bottom: 2.75rem;
}

.dx-my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.dx-my-13 {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;
}

.dx-my-14 {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.dx-my-15 {
  margin-top: 3.75rem;
  margin-bottom: 3.75rem;
}

.dx-mt-1 {
  margin-top: 0.25rem;
}

.dx-mb-1 {
  margin-bottom: 0.25rem;
}

.dx-ml-1 {
  margin-left: 0.25rem;
}

.dx-mr-1 {
  margin-right: 0.25rem;
}

.dx-mt-2 {
  margin-top: 0.5rem;
}

.dx-mb-2 {
  margin-bottom: 0.5rem;
}

.dx-ml-2 {
  margin-left: 0.5rem;
}

.dx-mr-2 {
  margin-right: 0.5rem;
}

.dx-mt-3 {
  margin-top: 0.75rem;
}

.dx-mb-3 {
  margin-bottom: 0.75rem;
}

.dx-ml-3 {
  margin-left: 0.75rem;
}

.dx-mr-3 {
  margin-right: 0.75rem;
}

.dx-mt-4 {
  margin-top: 1rem;
}

.dx-mb-4 {
  margin-bottom: 1rem;
}

.dx-ml-4 {
  margin-left: 1rem;
}

.dx-mr-4 {
  margin-right: 1rem;
}

.dx-mt-5 {
  margin-top: 1.25rem;
}

.dx-mb-5 {
  margin-bottom: 1.25rem;
}

.dx-ml-5 {
  margin-left: 1.25rem;
}

.dx-mr-5 {
  margin-right: 1.25rem;
}

.dx-mt-6 {
  margin-top: 1.5rem;
}

.dx-mb-6 {
  margin-bottom: 1.5rem;
}

.dx-ml-6 {
  margin-left: 1.5rem;
}

.dx-mr-6 {
  margin-right: 1.5rem;
}

.dx-mt-7 {
  margin-top: 1.75rem;
}

.dx-mb-7 {
  margin-bottom: 1.75rem;
}

.dx-ml-7 {
  margin-left: 1.75rem;
}

.dx-mr-7 {
  margin-right: 1.75rem;
}

.dx-mt-8 {
  margin-top: 2rem;
}

.dx-mb-8 {
  margin-bottom: 2rem;
}

.dx-ml-8 {
  margin-left: 2rem;
}

.dx-mr-8 {
  margin-right: 2rem;
}

.dx-mt-9 {
  margin-top: 2.25rem;
}

.dx-mb-9 {
  margin-bottom: 2.25rem;
}

.dx-ml-9 {
  margin-left: 2.25rem;
}

.dx-mr-9 {
  margin-right: 2.25rem;
}

.dx-mt-10 {
  margin-top: 2.5rem;
}

.dx-mb-10 {
  margin-bottom: 2.5rem;
}

.dx-ml-10 {
  margin-left: 2.5rem;
}

.dx-mr-10 {
  margin-right: 2.5rem;
}

.dx-mt-11 {
  margin-top: 2.75rem;
}

.dx-mb-11 {
  margin-bottom: 2.75rem;
}

.dx-ml-11 {
  margin-left: 2.75rem;
}

.dx-mr-11 {
  margin-right: 2.75rem;
}

.dx-mt-12 {
  margin-top: 3rem;
}

.dx-mb-12 {
  margin-bottom: 3rem;
}

.dx-ml-12 {
  margin-left: 3rem;
}

.dx-mr-12 {
  margin-right: 3rem;
}

.dx-mt-13 {
  margin-top: 3.25rem;
}

.dx-mb-13 {
  margin-bottom: 3.25rem;
}

.dx-ml-13 {
  margin-left: 3.25rem;
}

.dx-mr-13 {
  margin-right: 3.25rem;
}

.dx-mt-14 {
  margin-top: 3.5rem;
}

.dx-mb-14 {
  margin-bottom: 3.5rem;
}

.dx-ml-14 {
  margin-left: 3.5rem;
}

.dx-mr-14 {
  margin-right: 3.5rem;
}

.dx-mt-15 {
  margin-top: 3.75rem;
}

.dx-mb-15 {
  margin-bottom: 3.75rem;
}

.dx-ml-15 {
  margin-left: 3.75rem;
}

.dx-mr-15 {
  margin-right: 3.75rem;
}

.dx-margin-top-0 {
  margin-top: 0;
}

.dx-margin-bottom-0 {
  margin-bottom: 0;
}

.dx-margin-left-0 {
  margin-left: 0;
}

.dx-margin-right-0 {
  margin-right: 0;
}

.dx-padding-top-0 {
  padding-top: 0;
}

.dx-padding-bottom-0 {
  padding-bottom: 0;
}

.dx-padding-left-0 {
  padding-left: 0;
}

.dx-padding-right-0 {
  padding-right: 0;
}

.dx-mb-30 {
  margin-bottom: 7rem;
}

.dx-text-xs {
  font-size: 0.75rem;
}

.dx-text-sm {
  font-size: 0.875rem;
}

.dx-text-base {
  font-size: 1rem;
}

.dx-text-lg {
  font-size: 1.125rem;
}

.dx-text-xl {
  font-size: 1.25rem;
}

.dx-text-2xl {
  font-size: 1.5rem;
}

.dx-text-3xl {
  font-size: 1.875rem;
}

.dx-putih {
  color: #fff;
}

.dx-abu-abu {
  color: #535353;
}

.dx-biru {
  color: #0652dd;
}

.dx-biru-muda {
  color: #266ef4;
}

.dx-merah {
  color: #e03244;
}

.dx-hijau {
  color: #32ba7c;
}

.dx-kuning {
  color: #f1c40f;
}

.hover\:dx-text-biru-muda:hover {
  color: #266ef4;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.hover\:dx-text-abu-terang:hover {
  color: #ccc;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
  cursor: pointer;
}

.dx-text-abu-abu-gelap {
  color: #535353;
}

.dx-text-abu-abu {
  color: #a0a4a8;
}

.dx-text-abu-terang {
  color: #ccc;
}

.dx-text-merah {
  color: #e02424;
}

.dx-text-hijau {
  color: #32ba7c;
}

.dx-text-kuning {
  color: #f1c40f;
}

.dx-text-biru {
  color: #0652dd;
}

.dx-text-biru-muda {
  color: #266ef4;
}

.dx-bg-putih {
  background-color: #fafafa;
  color: #535353;
  box-shadow: rgba(17, 17, 17, 0.1) 0px 1px 8px !important;
}

.dx-bg-biru {
  background-color: #0652dd;
  color: #fff;
}

.dx-bg-hijau {
  background-color: #32ba7c;
  color: #fff;
}

.dx-bg-kuning {
  background-color: #f1c40f;
  color: #fff;
}

.dx-bg-merah {
  background-color: #e03244;
  color: #fff;
}

.dx-bg-transparan {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dx-bl-putih {
  border-left: 5px solid #fff;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.dx-bl-abu-abu {
  border-left: 5px solid #535353;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.dx-bl-biru {
  border-left: 5px solid #0652dd;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.dx-bl-biru-muda {
  border-left: 5px solid #266ef4;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.dx-bl-merah {
  border-left: 5px solid #e03244;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.dx-bl-hijau {
  border-left: 5px solid #32ba7c;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.dx-bl-kuning {
  border-left: 5px solid #f1c40f;
  border-start-end-radius: 4px;
  border-end-end-radius: 4px;
}

.dx-font-thin {
  font-weight: 100;
}

.dx-font-light {
  font-weight: 300;
}

.dx-font-regular {
  font-weight: 400;
}

.dx-font-medium {
  font-weight: 500;
}

.dx-font-semi-bold {
  font-weight: 600;
}

.dx-font-bold {
  font-weight: 700;
}

.dx-font-black {
  font-weight: 900;
}

.dx-font-italic {
  font-style: italic;
}

.dx-form-label {
  position: absolute;
  top: 5px;
  left: 1rem;
  margin-bottom: 0;
  pointer-events: none;
  cursor: text;
  transition: all 0.2s ease-in-out;
  padding-bottom: 0;
  font-size: 12px;
  font-weight: 500;
  color: #535353;
}

.dx-form-input:focus,
.dx-form-password:focus,
.dx-form-password-show:focus {
  box-shadow: #0652dd 4px 0px 0px 0px inset;
}

.dx-shadow {
  box-shadow: rgba(17, 17, 17, 0.1) 0px 1px 8px !important;
}

.dx-min-height-1 {
  min-height: 1rem;
}

.dx-min-height-2 {
  min-height: 2rem;
}

.dx-min-height-3 {
  min-height: 3rem;
}

.dx-min-height-4 {
  min-height: 4rem;
}

.dx-min-height-5 {
  min-height: 5rem;
}

.dx-min-height-6 {
  min-height: 6rem;
}

.dx-min-height-7 {
  min-height: 7rem;
}

.dx-min-height-8 {
  min-height: 8rem;
}

.dx-min-height-9 {
  min-height: 9rem;
}

.dx-min-height-10 {
  min-height: 10rem;
}

.dx-btn-primary {
  color: #fff;
  background-color: #0652dd;
}
.dx-btn-primary:hover {
  color: #fff;
  background-color: #266ef4;
  border-color: #266ef4;
}
.dx-btn-primary:focus, .dx-btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.dx-btn-secondary {
  color: #0652dd;
  background-color: #fff;
  border-color: #0652dd;
}
.dx-btn-secondary:hover {
  color: #fff;
  background-color: #266ef4;
  border-color: #266ef4;
}
.dx-btn-secondary:focus, .dx-btn-secondary.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.dx-btn-success {
  color: #fff;
  background-color: #32ba7c;
}
.dx-btn-success:hover {
  color: #fff;
  background-color: #5cc093;
  border-color: #5cc093;
}
.dx-btn-success:focus, .dx-btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 255, 60, 0.5);
}

.dx-btn-danger {
  color: #fff;
  background-color: #e03244;
}
.dx-btn-danger:hover {
  color: #fff;
  background-color: #ec5867;
  border-color: #ec5867;
}
.dx-btn-danger:focus, .dx-btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.dx-btn-warning {
  color: #535353;
  background-color: #f1c40f;
}
.dx-btn-warning:hover {
  color: #535353;
  background-color: #f1d255;
  border-color: #f1d255;
}
.dx-btn-warning:focus, .dx-btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

.dx-checkbox input {
  position: absolute;
  top: 0.25rem;
  opacity: 0;
  z-index: 1;
}
.dx-checkbox label {
  display: inline-block;
  padding-left: 1.75em;
}
.dx-checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1em;
  height: 1em;
  top: 0.25em;
  left: 0;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: #fff;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.dx-checkbox input:checked ~ label::before {
  border-color: #0652dd;
}
.dx-checkbox input:checked ~ label::after {
  content: "";
  position: absolute;
  width: 0.3125em;
  height: 0.625em;
  left: 0.325em;
  top: 0.325em;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: #0652dd;
  transform: rotate(45deg);
}
.dx-checkbox input:focus-visible ~ label::before {
  box-shadow: 0 0 0 3px rgba(6, 82, 221, 0.3);
}

input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.dx-h-1 {
  height: 0.25rem;
}

.dx-h-2 {
  height: 0.5rem;
}

.dx-h-3 {
  height: 0.75rem;
}

.dx-h-4 {
  height: 1rem;
}

.dx-h-5 {
  height: 1.25rem;
}

.dx-h-6 {
  height: 1.5rem;
}

.dx-h-7 {
  height: 1.75rem;
}

.dx-h-8 {
  height: 2rem;
}

.dx-h-9 {
  height: 2.25rem;
}

.dx-h-10 {
  height: 2.5rem;
}

.dx-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dx-modal-content {
  margin: auto;
  width: 360px;
  animation: 1s ease 0s 1 normal none running fade-opacity;
}

@keyframes fade-opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.dx-modal-exit {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
  cursor: pointer;
}

.dx-modal-body {
  background-color: #fafafa;
  border-radius: 0.25rem;
}

.dx-modal-title {
  position: relative;
  color: #0652dd;
  font-weight: bold;
  font-style: 1.25rem;
  padding: 0px 40px;
  text-align: center;
  margin: 0 auto 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.dx-modal-title::after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: -10px;
  width: calc(100% - 80px);
  height: 2px;
  background-color: #f1c40f;
  border: 0px;
  border-radius: 2px 2px 0px 0px;
}

.dx-body-input {
  flex: 1 1 0%;
}

.dx-modal-form-input.password-inputs {
  max-width: 15rem;
}
.dx-modal-form-input.password-input {
  position: relative;
}
.dx-modal-form-input.password-input .eyes {
  position: absolute;
  right: 0.5em;
  bottom: 6px;
  cursor: pointer;
}

.dx-modal-input.dx-form-group label {
  color: #ccc;
  font-size: 12px;
}
.dx-modal-input.dx-form-group input,
.dx-modal-input.dx-form-group textarea {
  font-size: 12px;
  border: none;
  border-radius: 0px;
  outline: none;
  box-shadow: none;
}
.dx-modal-input.dx-form-group input.dx-modal-input,
.dx-modal-input.dx-form-group textarea.dx-modal-input {
  height: 32px;
}
.dx-modal-input.dx-form-group input:focus,
.dx-modal-input.dx-form-group textarea:focus {
  border-bottom: 1px solid #266ef4;
}

.dx-modal-footer {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px 10px;
}

.dx-z-50 {
  z-index: 50;
}

.dx-badge {
  padding: 0.4em 1.025em;
  font-size: 0.625rem;
  font-weight: 600;
  border-radius: 0.25rem;
  color: #fff;
  text-transform: capitalize;
  white-space: nowrap;
  cursor: pointer;
}
.dx-badge-primary {
  background-color: #0652dd;
  color: #fff;
}
.dx-badge-success {
  background-color: #32ba7c;
  color: #fff;
}
.dx-badge-warning {
  background-color: #f1c40f;
  color: #fff;
}
.dx-badge-danger {
  background-color: #e03244;
  color: #fff;
}
.dx-badge-info {
  background-color: #535353;
  color: #fff;
}
.dx-badge-outline-primary {
  background-color: transparent;
  border: 2px solid #0652dd;
  color: #0652dd;
}
.dx-badge-outline-success {
  background-color: transparent;
  border: 2px solid #32ba7c;
  color: #32ba7c;
}
.dx-badge-outline-warning {
  background-color: transparent;
  border: 2px solid #f1c40f;
  color: #f1c40f;
}
.dx-badge-outline-danger {
  background-color: transparent;
  border: 2px solid #e03244;
  color: #e03244;
}
.dx-badge-outline-info {
  background-color: transparent;
  border: 2px solid #535353;
  color: #535353;
}

.dx-form-group {
  margin-bottom: 1em;
}

.dx-form-control {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.dx-form-control.dx-form-group {
  margin-bottom: 1em;
}
.dx-form-control label {
  font-weight: 500;
  margin-bottom: 0.4em;
  display: block;
  color: #535353;
}
.dx-form-control .dx-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.dx-form-control .dx-input-wrapper input[type=date] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.dx-form-control .dx-input-wrapper input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 0;
  -webkit-appearance: none;
}
.dx-form-control .dx-input-wrapper input[type=date] {
  padding-right: 2.5rem !important;
}
.dx-form-control .dx-input-wrapper .dx-icon {
  position: absolute;
  right: 12px;
  z-index: 2;
  pointer-events: none;
  color: #888;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dx-form-control input {
  width: 100%;
  font-size: 0.95em;
  padding: 0.4em 0.8em;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #fff;
  transition: border-color 0.2s ease;
}
.dx-form-control input:focus {
  outline: none;
  border-bottom: 1px solid #0652dd;
}
.dx-form-control input::-moz-placeholder {
  color: #aaa;
}
.dx-form-control input::placeholder {
  color: #aaa;
}
.dx-form-control input.dx-input-invalid:focus {
  outline: none;
  border-bottom: 1px solid #e03244;
}
.dx-form-control input.dx-input-disable {
  outline: none;
  border-bottom: 1px solid #0652dd;
}
.dx-form-control input::file-selector-button {
  padding: 0.3em 0.8em;
  margin-right: 0.6em;
  border: none;
  border-radius: 4px;
  background-color: #0652dd;
  color: #fff;
  font-size: 0.8075em;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.dx-form-control input::file-selector-button:hover {
  background-color: rgb(5.3259911894, 72.7885462555, 196.1740088106);
}
.dx-form-control input[type=file] {
  outline: none;
  border-bottom: none;
}
.dx-form-control textarea {
  min-height: 120px;
  resize: vertical;
}
.dx-form-control textarea:focus-visible {
  outline: none;
}
.dx-form-control textarea:focus {
  outline: none;
  border-bottom: 1px solid #0652dd;
}
.dx-form-control textarea::-moz-placeholder {
  color: #aaa;
}
.dx-form-control textarea::placeholder {
  color: #aaa;
}
.dx-form-control select {
  width: 100%;
  font-size: 0.95em;
  padding: 0.4em 0.8em;
  border: none;
  border-bottom: 1px solid #ccc;
  background: #fff;
  transition: border-color 0.2s ease;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/vendor/bootstrap-icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 0.8em center;
  background-size: 1em;
}
.dx-form-control select:focus {
  outline: none;
  border-bottom: 1px solid #0652dd;
}

body.modal-open {
  overflow: hidden;
}

.modal-content {
  margin: auto;
  width: 360px;
  animation: 1s ease 0s 1 normal none running fade-opacity;
}

.dx-modal-exit {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 999;
  cursor: pointer;
}

.modal-body {
  background-color: #fafafa;
  border-radius: 0.25rem;
}
.modal-body-dx-input {
  flex: 1 1 0%;
}

.dx-modal-title {
  position: relative;
  color: #0652dd;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0 40px;
  text-align: center;
  margin: 0 auto 30px;
  width: -moz-fit-content;
  width: fit-content;
}
.dx-modal-title::after {
  content: "";
  position: absolute;
  left: 40px;
  bottom: -10px;
  width: calc(100% - 80px);
  height: 2px;
  background-color: #f1c40f;
  border: 0;
  border-radius: 2px 2px 0 0;
}

.dx-modal-form-input.dx-password-inputs {
  max-width: 15rem;
}
.dx-modal-form-input.dx-password-input {
  position: relative;
}
.dx-modal-form-input.dx-password-input .eyes {
  position: absolute;
  right: 0.5em;
  bottom: 6px;
  cursor: pointer;
}

.dx-modal-input label {
  color: #a0a4a8;
  font-size: 12px;
  margin-bottom: 0.5em;
}
.dx-modal-input input,
.dx-modal-input textarea {
  font-size: 12px;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}
.dx-modal-input input:focus,
.dx-modal-input textarea:focus {
  border-bottom: 1px solid #0652dd;
}
.dx-modal-input input {
  height: 32px;
}

.dx-modal-footer {
  display: flex;
  justify-content: space-around;
  margin: 20px 10px 10px;
}

.dx-radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 1.5em;
}
.dx-radio input[type=radio] {
  position: absolute;
  top: 0.25rem;
  opacity: 0;
  z-index: 1;
}
.dx-radio label {
  position: relative;
  cursor: pointer;
  padding-left: 1.8em;
}
.dx-radio label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  transition: border-color 0.2s ease;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.dx-radio input[type=radio]:checked ~ label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #0652dd;
  border-radius: 50%;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
}
.dx-radio input[type=radio]:checked ~ label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #0652dd;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.5em;
  transition: border-color 0.2s ease;
}
.dx-radio input[type=radio]:focus-visible ~ label::before {
  box-shadow: 0 0 0 3px rgba(6, 82, 221, 0.3);
}

.dx-toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}
.dx-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.dx-toggle input:checked + .dx-slider {
  background-color: #0652dd;
}
.dx-toggle input:checked + .dx-slider:before {
  transform: translateX(20px);
}
.dx-toggle .dx-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}
.dx-toggle .dx-slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  transition: 0.4s;
  border-radius: 50%;
}

.dx-vh {
  height: 100vh;
}

@media (max-width: 639px) {
  :root {
    font-size: 14px;
  }
}/*# sourceMappingURL=storify-base-style.css.map */