.dx-section {
  margin-left: 180px;
  transition: margin-left 0.5s;
}

.dx-section.dx-sidebar--closed {
  margin-left: 0;
}

.dx-sidebar {
  height: 100%;
  background-color: #0652dd;
  position: fixed;
  width: 180px;
  top: 0;
  bottom: 0;
  display: none;
  transition: 0.5s;
  overflow-x: hidden;
  cursor: pointer;
}

.dx-sidebar.dx-sidebar--closed {
  width: 0;
}
.dx-sidebar.dx-sidebar--closed * {
  opacity: 0;
  transition: opacity 0.5s;
}

.dx-nav-link {
  color: #ccc;
  font-size: 0.8rem;
  display: flex;
  -webkit-box-align: center;
  width: 100%;
  padding: 1rem 1.5rem;
}
.dx-nav-link.active, .dx-nav-link:hover {
  color: #266ef4;
  background-color: #fafafa;
  text-decoration: none;
}

.dx-nav-icon {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
}
.dx-nav-icon::before {
  font-size: 22px;
}

.dx-icon-rotate {
  transform: rotate(180deg);
}

.dx-logo {
  width: 120px;
}

.dx-content-wrap {
  color: #535353;
  padding: 30px 0px 0px;
}

.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.dx-notice .dx-notice-icon {
  right: 1.25rem;
  position: absolute;
  top: -1.25rem;
  right: 2.5rem;
  max-width: 10rem;
  width: 100%;
  height: auto;
}

.dx-notice-text {
  padding-left: 15px;
  padding-right: 15px;
  --padding-right: calc(10rem + 3rem);
}

.dx-img-ht {
  width: 120px;
}

.dx-edit-dropdown {
  border: 0px;
  padding: 0px;
  top: 15px !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;
  border-radius: 0.25rem;
  background-color: #fff;
  margin-bottom: 0;
}

.dx-logout:hover {
  background-color: #266ef4;
  cursor: pointer;
}

.dx-content-wrap {
  color: #535353;
  padding: 30px 0px 0px;
}

.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75em 1.25em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 4px;
}
.dx-notice-success {
  background-color: #edf7f3;
}
.dx-notice-success .dx-notice-title {
  color: #32ba7c;
}
.dx-notice-warning {
  background-color: #fcf5e3;
}
.dx-notice-warning .dx-notice-title {
  color: #f1c40f;
}
.dx-notice-error {
  background-color: #fbe9eb;
}
.dx-notice-error .dx-notice-title {
  color: #e03244;
}
.dx-notice-information {
  background-color: #fff;
}

.dx-notice .dx-notice-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.dx-notice-body-text {
  padding-left: 15px;
  padding-right: 15px;
}

img.dx-avatar {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dx-user-fullname {
  font-size: 20px;
  color: #535353;
}

.dx-span-inbox {
  font-size: 12px;
  color: #a0a4a8;
}

.dx-grid {
  display: grid;
  gap: 2rem;
  text-align: center;
  margin-bottom: 5em;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .dx-grid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1280px) {
  .dx-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

ul.dx-title-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid rgb(239, 238, 237);
}

li.dx-title-card {
  font-weight: 500;
  min-width: 100px;
  padding: 0 20px;
}
li.dx-title-card:first-child {
  padding-left: 0;
}

.dx-title-card .nav-link.dx-title-card {
  padding: 0 0 5px;
  position: relative;
  font-weight: normal;
}
.dx-title-card .nav-link.dx-title-card:visited {
  color: rgb(204, 204, 204);
}
.dx-title-card .nav-link.dx-title-card.active, .dx-title-card .nav-link.dx-title-card:hover {
  font-weight: 500;
  color: #266ef4 !important;
}
.dx-title-card .nav-link.dx-title-card.active::after, .dx-title-card .nav-link.dx-title-card:hover::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  display: block;
  width: 100%;
  border-bottom: 2px solid #f1c40f;
}

.li.active, .li:hover {
  color: #266ef4;
  background-color: #fff;
  text-decoration: none;
}

.dx-card.dx-card-body {
  background-color: #fff;
  color: #a0a4a8;
  border-radius: 4px;
  padding: 0 20px;
}
.dx-card.dx-card-body span {
  display: block;
}
.dx-card.dx-card-body .dx-card-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.dx-card.dx-card-body .dx-card-item:not(:last-child) {
  border-bottom: 1px solid rgb(239, 238, 237);
}
.dx-card.dx-card-body .dx-card-item .dx-card-item-left {
  text-align: left;
}
.dx-card.dx-card-body .dx-card-item .dx-card-item-right {
  text-align: right;
}
.dx-card.dx-card-body .dx-card-item .dx-card-item-right .btn {
  margin-left: 0.5rem;
}

@media (max-width: 767px) {
  .dx-section {
    margin: 0px 0px 30px 180px;
    margin-left: 0;
  }
  .dx-notice .dx-notice-icon {
    right: 1.25rem !important;
    max-width: 5.725rem !important;
  }
  .dx-notice .dx-notice-body {
    font-size: 14px;
    line-height: 22px;
  }
  .dx-notice .dx-notice-title {
    font-size: 1rem;
  }
}
.dx-sidebar-ht {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -10px 10px;
}

.dx-nav-link-ht {
  color: #a0a4a8;
  font-size: 0.8rem;
}
.dx-nav-link-ht.active, .dx-nav-link-ht:hover {
  background-color: transparent;
  color: #266ef4;
  text-decoration: none;
}

.dx-nav-link-ht > .bi {
  display: block;
  margin: 0px auto 5px;
}

.dx-nav-icon-ht {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
}
.dx-nav-icon-ht::before {
  font-size: 22px;
}

@media (min-width: 768px) {
  .dx-sidebar {
    display: block !important;
  }
  .md\:dx-logo-img {
    display: none;
  }
  .md\:dx-block {
    display: block;
  }
  .md\:dx-hidden {
    display: none;
  }
  .md\:dx-flex-row {
    flex-direction: row;
  }
  .md\:dx-flex-1 {
    flex: 1 1 0%;
  }
  .dx-sidebar-ht {
    display: none;
  }
  .dx-notice-body-text {
    padding-right: 13rem;
  }
}
@media (min-width: 640px) {
  .sm\:dx-text-lg {
    font-size: 1.125rem;
  }
}/*# sourceMappingURL=storify-admin-style.css.map */