.dx-text-center {
  text-align: center;
}

.dx-text-right {
  text-align: right;
}

.dx-text-left {
  text-align: left;
}

.dx-text-justify {
  text-align: justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid #d2d6dc;
}

body {
  font-family: "Quicksand", sans-serif;
  background-color: #fafafa;
  color: #535353;
  margin: 0;
}

.dx-container {
  max-width: 100%;
  padding: 0;
  position: relative;
  -webkit-box-align: 1;
  flex-grow: 1;
}

.dx-sidebar {
  height: 100%;
  background-color: #0652dd;
  position: fixed;
  width: 180px;
  top: 0;
  bottom: 0;
  display: none;
  transition: 0.5s;
  overflow-x: hidden;
  cursor: pointer;
}

.dx-sidebar--closed {
  width: 0;
}
.dx-sidebar--closed * {
  opacity: 0;
  transition: opacity 0.5s;
}

.dx-sidebar {
  margin-left: 0;
}

.dx-sidebar .li {
  color: #ccc;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
}

.dx-sidebar .dx-nav-link {
  color: #ccc;
  font-style: 21px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.5rem;
}
.dx-sidebar .dx-nav-link:active, .dx-sidebar .dx-nav-link:hover {
  color: #266ef4;
  background-color: #fafafa;
  text-decoration: none;
}

.dx-nav-icon {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
}
.dx-nav-icon::before {
  font-size: 22px;
}

.dx-icon-rotate {
  transform: rotate(180deg);
}

.dx-logo {
  width: 120px;
}

.dx-h-1 {
  height: 0.25rem;
}

.dx-h-2 {
  height: 0.5rem;
}

.dx-h-3 {
  height: 0.75rem;
}

.dx-h-4 {
  height: 1rem;
}

.dx-h-5 {
  height: 1.25rem;
}

.dx-h-6 {
  height: 1.5rem;
}

.dx-h-7 {
  height: 1.75rem;
}

.dx-h-8 {
  height: 2rem;
}

.dx-h-9 {
  height: 2.25rem;
}

.dx-h-10 {
  height: 2.5rem;
}

.dx-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dx-content-wrap {
  color: #535353;
  padding: 30px 0px 0px;
}

.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}
.dx-notice .dx-notice-icon {
  right: 1.25rem;
  position: absolute;
  top: -1.25rem;
  right: 2.5rem;
  max-width: 10rem;
  width: 100%;
  height: auto;
}

.dx-notice-text {
  padding-left: 15px;
  padding-right: 15px;
  --padding-right: calc(10rem + 3rem);
}

.dx-notice-success .dx-notice-title {
  color: #edf7f3;
}

.dx-notice-warning .dx-notice-title {
  color: #fcf5e3;
}

.dx-notice-error .dx-notice-title {
  color: #fbe9eb;
}

.dx-notice-information .dx-notice-title {
  color: #fff;
}

@media (max-width: 767px) {
  .dx-sidebar {
    display: block;
  }
  .dx-notice .dx-notice-icon {
    right: 1.25rem !important;
    max-width: 5.725rem !important;
  }
  .dx-notice .dx-notice-body {
    font-size: 14px;
    line-height: 22px;
  }
  .dx-notice .dx-notice-title {
    font-style: 1rem;
  }
}
@media (min-width: 768px) {
  .md\:dx-logo-img {
    display: none;
  }
  .md\:dx-block {
    display: block;
  }
  .md\:dx-hidden {
    display: none;
  }
  .md\:dx-flex-row {
    flex-direction: row;
  }
  .md\:dx-flex-1 {
    flex: 1 1 0%;
  }
}/*# sourceMappingURL=storify-admin-style.css.map */