@use "variables" as *;
@use "mixins" as *;
@use "inheritance" as *;

//* Header
// /* Custom class untuk header */
// .header-custom {
//     position: sticky;
//     top: 0;
//     z-index: 1020;
//     transition: box-shadow 0.3s ease-in-out; /* Efek transisi halus */
//     background-color: $warna-bg;
// }

// /* Class yang akan ditambah lewat JS */
// .shadow-scrolled {
//     box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) !important;
// }

//* Notification Badge
// Kontainer utama
.dx-notif-wrapper {
    position: relative;
    display: inline-block;
}

// Base style untuk badge
.dx-badge-pulse {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: $merah;
    color: $putih;
    font-size: 10px;
    font-weight: bold;
    min-width: 18px;
    height: 18px;
    border-radius: 50%;
    display: none; // Default sembunyi jika 0
    align-items: center;
    justify-content: center;
    border: 2px solid $putih;
    // animation: pulse-animation 1.5s infinite;
}

// Keyframes untuk efek denyut
// @keyframes pulse-animation {
//     0% { box-shadow: 0 0 0 0 rgba(255, 59, 48, 0.7); }
//     70% { box-shadow: 0 0 0 10px rgba(255, 59, 48, 0); }
//     100% { box-shadow: 0 0 0 0 rgba(255, 59, 48, 0); }
// }

//* Section
.dx-section {
  margin-left: 180px;
  transition: margin-left 0.5s;
}
.dx-section.dx-sidebar {
  &--closed {
    margin-left: $sidebar-close-width;
  }
}

//* Sidebar
.dx-sidebar {
  @include sidebar-base();
}
.dx-sidebar {
  &.dx-sidebar--closed {
    width: $sidebar-close-width;
    * {
      opacity: 0;
      transition: opacity $sidebar-transition;
    }
  }
}
#openBtn {
}

.dx-section {
  flex: 1; // Mengambil sisa ruang di sebelah sidebar
  display: flex;
  flex-direction: column;
  // transition: all 0.3s ease; // Animasi halus saat sidebar buka/tutup
  overflow-x: hidden;
  footer {
    width: 100%;
  }
}

.dx-nav-link {
  color: $abu-abu-terang;
  font-size: 0.8rem;
  display: flex;
  -webkit-box-align: center;
  width: 100%;
  padding: 1rem 1.5rem;
  &.active,
  &:hover {
    color: $active-hover-text-color;
    background-color: $active-hover-bg-color;
    text-decoration: none;
  }
}
.dx-nav-icon {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
  &::before {
    font-size: 22px;
  }
}

.dx-icon-rotate {
  transform: rotate(180deg);
}

//* Logo
.dx-logo {
  width: 120px;
}

//* Content
.dx-content-wrap {
  color: $abu-abu;
  padding: 30px 0px 0px;
}

//* Notice
.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: opacity 0.5s ease, transform 0.5s ease, margin-bottom 0.5s ease; // Transisi untuk validasi

  &.hide-notice {
    opacity: 0;
    transform: translateY(-20px);
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 0;
    pointer-events: none;
  }

  .dx-notice-icon {
    right: 1.25rem;
    position: absolute;
    top: -1.25rem;
    right: 2.5rem;
    max-width: 10rem;
    width: 100%;
    height: auto;
  }
}

.dx-notice-text {
  padding-left: 15px;
  padding-right: 15px;
  --padding-right: calc(10rem + 3rem);
}

//* Logo image
.dx-img-ht {
  width: 120px;
}

.dx-edit-dropdown {
  border: 0px;
  padding: 0px;
  top: 15px !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;
  border-radius: 0.25rem;
  background-color: $putih;
  margin-bottom: 0;
}

.dx-logout {
  &:hover {
    background-color: $biru-muda;
    cursor: pointer;
  }
}

//* Content Wrap
.dx-content-wrap {
  color: $abu-abu;
  padding: 30px 0px 0px;
}

//* Notice
.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75em 1.25em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 4px;

  // Loop untuk setiap tipe notice
  @each $name, $bgcolor in $color-notif {
    @if $name != "information" {
      &-#{$name} {
        background-color: $bgcolor;
        // Jika ada warna title untuk tipe ini
        @if map-has-key($color-title, $name) {
          .dx-notice-title {
            color: map-get($color-title, $name);
          }
        }
      }
    }
  }
  // Information dibuat manual
  &-information {
    background-color: map-get($color-notif, "information");
  }
}

.dx-notice .dx-notice-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.dx-notice-body-text {
  padding-left: 15px;
  padding-right: 15px;
}

//* Items Page
// Avatar
img.dx-avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.dx-user-fullname {
  font-size: 20px;
  color: $abu-abu;
}

.dx-span-inbox {
  font-size: 12px;
  color: $abu-abu-text;
}


//* Grid
.dx-grid {
  display: grid;
  gap: 2rem;
  text-align: center;
  margin-bottom: 5em;

  // Mobile
  grid-template-columns: 1fr;
  // Tablet
  @include respond-to(md, min) {
    grid-template-columns: 1fr 1fr;
  }
  // Desktop
  @include respond-to(xl, min) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .dx-bg-putih {
    background: #fff;

    &:hover {
      .dx-box-section img {
        animation: icon-bounce 0.5s ease infinite alternate;
      }
    }
  }

  .dx-box-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dx-box-title {
    font-size: 0.85rem;
    font-weight: 600;
    color: $abu-abu;
    margin: 0;
  }

  .dx-box-text {
    font-weight: 800;
    margin: 0;
    -webkit-background-clip: text;
  }

  .dx-box-section {
    padding: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dx-img-box {
      width: 96px;
    }
  }

  // Keyframes
  @keyframes icon-bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-5px); }
  }
}

//* Navlink - Nesting
ul.dx-title-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid rgb(239, 238, 237);
}

li.dx-title-card {
  font-weight: 500;
  min-width: 100px;
  padding: 0 20px;

  &:first-child {
    padding-left: 0;
  }
}

.dx-title-card {
  .nav-link.dx-title-card {
    padding: 0 0 5px;
    position: relative;
    font-weight: normal;

    &:visited {
      color: rgb(204, 204, 204);
    }

    &.active,
    &:hover {
      font-weight: 500;
      color: $biru-muda !important;

      &::after {
        content: " ";
        position: absolute;
        bottom: -1px;
        display: block;
        width: 100%;
        border-bottom: 2px solid $kuning;
      }
    }
  }
}

.li {
  @include li-style($biru-muda, $putih);
}

//* Card - Nesting
.dx-card {
  &.dx-card-body {
    background-color: $warna-bg-putih;
    color: $warna-bg-abu-abu;
    border-radius: 4px;
    padding: 0 20px;

    span {
      display: block;
    }

    .dx-card-item {
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(239, 238, 237);
      }

      .dx-card-item-left {
        text-align: left;
      }

      .dx-card-item-right {
        text-align: right;
        .btn {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

//* Breakpoint ukuran HP dan Tablet
// Sidebar
@include respond-to(md, max) {
  .sm\:dx-margin-bottom-end {
    margin-bottom: 7em;
  }
  .dx-section {
    margin: 0px 0px 30px 180px;
    margin-left: 0;
  }
  .dx-notice {
    .dx-notice-icon {
      right: 1.25rem !important;
      max-width: 5.725rem !important;
    }
    .dx-notice-body {
      font-size: 14px;
      line-height: 22px;
    }
    .dx-notice-title {
      font-size: 1rem;
    }
  }
}

.dx-sidebar-ht {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -10px 10px;
}
.dx-nav-link-ht {
  color: $abu-abu-text;
  font-size: 0.8rem;
  &.active,
  &:hover {
    background-color: transparent;
    color: $biru-muda;
    text-decoration: none;
  }
}
.dx-nav-link-ht > .bi {
  display: block;
  margin: 0px auto 5px;
}
.dx-nav-icon-ht {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  &::before {
    font-size: 22px;
  }
}

//* Table - Nesting
.dx-table-title {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 28px;
  color: $table-title-color;
  font-weight: 600;
    &.dx-with-border:before {
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 100px;
      min-height: 0px;
      border: 1px solid $table-title-border-color;
    }
    &.dx-with-border.dx-table-text-left:before {
      left: auto;
    }
}

.dx-table {
  width: 100%;
  margin: 2em 0px;
  & > .table-responsive {
    background-color: $table-background;
    border-radius: 4px;
    padding: 15px;
  }
}

.table-responsive {
  // max-width: fit-content;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    // box-shadow: $box-shadow;
}

.dx-batch-table {
  width: 100% !important;
  border-collapse: collapse;
  table-layout: auto;
  display: table !important;
  margin-bottom: 20px;
}

.dx-review-table,
.dx-batch-table {
  th{
    color: $table-color;
    padding: 0.75em;
    border-top: 0;
    border-bottom: 1px solid $table-border-bottom;
    font-size: 12px;
    line-height: 18px;
  }

  th.dx-sortable {
    cursor: pointer;
    position: relative;
    padding-right: 30px !important; // Beri ruang lebih untuk icon
    transition: all 0.2s ease;

    // Container Icon (Gunakan pseudo-element sebagai pembungkus)
    &::after {
        content: '\2191 \2193'; // Simbol panah atas-bawah
        position: absolute;
        right: 8px;
        font-size: 0.9em;
        top: 50%;
        transform: translateY(-50%);
        letter-spacing: -2px;
        // opacity: 0.2; 
        display: flex;
        white-space: nowrap;
    }
    &:hover {
      color: $abu-abu;
    }
    // State Ascending
    &.dx-sort-asc {
        color: $abu-abu;
        &::after {
            content: '\2191'; // Panah atas
            opacity: 1;
            letter-spacing: 0;
        }
    }
    // State Descending
    &.dx-sort-desc {
        color: $abu-abu;
        &::after {
            content: '\2193'; // Panah bawah
            opacity: 1;
            letter-spacing: 0;
        }
    }
  }
  td {
    border-top: 0;
    font-size: 14px;
    line-height: 20px;
    border-bottom-width: 0px !important;
  }
}

.dx-empty-batch {
  margin: 45px 0px 60px;
}

.dx-empty-batch-image {
  margin: 15px 0px 45px;
}

.dx-empty-batch-title {
  color: $table-empty-batch-color;
  font-weight: normal;
  font-size: 14px;
}

.dx-empty-batch-content {
  color: $abu-abu-2;
  font-weight: normal;
}

//* Pagination - Nesting
// Mematikan efek saat kursor di atasnya (Hover) dan saat diklik (Focus/Active)
.dx-pagination .page-link:hover, 
.dx-pagination .page-link:focus, 
.dx-pagination .page-link:active {
    box-shadow: none !important;    // Menghilangkan garis biru Bootstrap saat diklik
}

.dx-pagination-wrapper {
    border-top: 1px solid $pagination-border;
    padding-top: 30px;

    .dx-pagination {
        gap: 10px;

        .page-item {
            .page-link {
                width: 28px;
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 0.25rem !important;
                font-size: 0.8rem;
                font-weight: 500;
                color: $pagination-text;
                border: 1px solid $pagination-border;
                background-color: #fff;
                text-decoration: none;
                transition: none;

                &:hover {
                    border-color: $pagination-border;
                    color: $pagination-hover-text;
                    background-color: $pagination-hover-color;
                }

                img {
                    vertical-align: middle;
                }
            }

            &.active .page-link {
                background-color: $pagination-color;
                border-color: $pagination-color;
                color: #fff;

                &:hover {
                    border-color: $pagination-border;
                    color: $pagination-hover-text;
                    background-color: $pagination-hover-color;
                }
            }

            &.disabled {
                opacity: 0.4;
                .page-link {
                    background-color: #f9f9f9;
                    cursor: default;
                }
            }
        }
    }

    // Responsiveness
    // @media (max-width: 768px) {
    //     padding-top: 20px;

    //     .dx-pagination {
    //         gap: 6px;

    //         .page-item {
    //             .page-link {
    //                 width: 28px;
    //                 height: 28px;
    //                 font-size: 0.7rem;
    //             }
    //         }
    //     }
    // }

    // @media (max-width: 480px) {
    //     padding-top: 15px;

    //     .dx-pagination {
    //         flex-wrap: wrap; // biar pagination bisa turun ke bawah
    //         justify-content: center;
    //         gap: 4px;

    //         .page-item {
    //             .page-link {
    //                 width: 24px;
    //                 height: 24px;
    //                 font-size: 0.65rem;
    //             }
    //         }
    //     }
    // }
}

//* Tombol Back to Top - Nesting
.dx-btn-to-top {
    position: fixed;
    right: 25px;
    bottom: 30px;
    width: 40px; 
    height: 40px;
    background-color: $backtotop-color;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
    cursor: pointer;
    
    // Keadaan awal (sembunyi)
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    &:hover {
        background-color: $backtotop-color-hover;
        // transform: translateY(-5px);
    }

    // Class yang akan dipicu oleh JavaScript
    &.show {
        opacity: 1;
        visibility: visible;
    }

    // Animasi lompat halus (Low Lift)
    &:hover {
        // transform: translateY(-4px); // Jarak lompat diperpendek agar tidak terlalu tinggi
        box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15); // Shadow mengikuti ketinggian baru
        
        img {
            transform: rotate(90deg) scale(1.05); // Icon membesar sedikit saja
        }
    }

    // Feedback saat ditekan
    // &:active {
    //     transform: translateY(-1px);
    //     transition: transform 0.1s ease;
    // }

    // @media (max-width: 767.98px) {
    //     width: 38px; 
    //     height: 38px;
    //     bottom: 100px; // Jarak aman agar tidak mepet nav mobile
    //     right: 25px;
    // }

    img {
        width: 16px;
        height: auto;
        transform: rotate(90deg);
        filter: brightness(0) invert(1);
        transition: transform 0.3s ease;
    }
}

@include respond-to(md, max) {
  .dx-table {
      background-color: $table-background;
      border-radius: 4px;
      box-shadow: $table-box-shadow;
      padding: 15px;
  }
  .dx-btn-to-top {
      width: 38px; 
      height: 38px;
      bottom: 100px; // Jarak aman agar tidak mepet nav mobile
      right: 25px;
  }
  .dx-pagination-wrapper {
    .dx-pagination {
        padding-top: 20px;
        gap: 6px;

          .page-item {
              .page-link {
                  // width: 28px;
                  // height: 28px;
                  font-size: 0.7rem;
              }
          }
      }
    }
    .md\:dx-footer {
    margin-bottom: 4.375em !important;
    }
}


@include respond-to(md, min) {
  .dx-sidebar {
    display: block !important;
  }

  .md\:dx-logo-img {
    display: none;
  }

  .md\:dx-block {
    display: block;
  }

  .md\:dx-hidden {
    display: none;
  }

  .md\:dx-flex-row {
    flex-direction: row;
  }

  .md\:dx-flex-1 {
    flex: 1 1 0%;
  }
  // Ukuran Hp dan Tablet
  .dx-sidebar-ht {
    display: none;
  }
  .dx-notice-body-text {
    padding-right: calc(10rem + 3rem);
  }
}


@include respond-to(sm, min) {
  .sm\:dx-text-lg {
    font-size: 1.125rem;
  }
}

@include respond-to(xs, max) {
  .dx-table-title {
    font-size: 20px!important;
    line-height: 20px!important;
  }
  
  .dx-pagination-wrapper{
      .dx-pagination {
        padding-top: 15px;
        flex-wrap: wrap; // biar pagination bisa turun ke bawah
        justify-content: center;
        gap: 4px;

        .page-item {
            .page-link {
                width: 24px;
                height: 24px;
                font-size: 0.65rem;
            }
        }
      }
    }
}

@include respond-to(xs, min) {
  .dx-table-title.dx-With-border.dx-table-text-left {
      text-align: left;
    }
}