@use "variables" as *;
@use "mixins" as *;
@use "inheritance" as *;

//* Icon
.dx-icon-eye {
  position: absolute;
  right: 1rem;
  top: 17px;
}

//* Form Control
.dx-input {
  border-bottom: 0px;
}

.dx-form-input {
  @include input-style;
}

.dx-form-password,
input[type="text"] {
  @include input-style;
}

//* Background bagian kanan
.dx-login-background {
  background-repeat: no-repeat;
  background-image: url("../images/bg-login-storify.png");
  background-size: 800px;
  background-position: center bottom;
}

//* Breakpoint Ukuran HP dan Tablet
@include respond-to(md, min) {
  .dx-container {
    // Konten bagian kanan
    .dx-right-content {
      background-color: $biru;
      flex: 1 1 0%;
      .dx-login-background {
        flex: 1 1 0%;
        height: 100vh;
        position: sticky;
        top: 0px;
        background-size: cover;
      }
      .dx-min-h-screen {
        height: 100vh;
      }
    }
    // Konten bagian kiri
    .dx-left-content {
      max-width: 384px;
      padding: 2.5rem 2rem;
    }
  }
}

@include respond-to(md, max) {
  .dx-min-h-screen {
    height: 100vh;
  }
}

@include respond-to(lg, min) {
  .dx-login-background {
    background-size: contain !important;
    background-position: center !important;
  }
}
