@use "variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-base;
  background-color: $warna-bg;
  color: $abu-abu;
  margin: 0;
}

.dx-no-underline {
  text-decoration: none;
}

.#{$prefix}container {
  display: flex;
}

.dx-container {
  .dx-content {
    @media (min-width: 512px) {
      max-width: 384px;
      padding: 2.5rem 2rem;
    }
  }
}

.dx-min-h-screen {
  height: 100vh;
}

// Padding
// Padding-x
// Loop dari 1 hingga 10
@for $i from 1 through 10 {
  .dx-px-#{$i} {
    // 1 unit = 0.25rem - Hitung nilai padding dalam rem ($i x 0.25rem)
    $padding: $i * 0.25rem;
    padding-left: $padding;
    padding-right: $padding;
  }
}

// Padding-y
@for $i from 1 through 10 {
  .dx-py-#{$i} {
    $padding: $i * 0.25rem;
    padding-top: $padding;
    padding-bottom: $padding;
  }
}

// pt, pb, pl, pr 1-15
@for $i from 1 through 15 {
  $padding: $i * 0.25rem;

  .dx-pt-#{$i} {
    padding-top: $padding;
  }
  .dx-pb-#{$i} {
    padding-bottom: $padding;
  }
  .dx-pl-#{$i} {
    padding-left: $padding;
  }
  .dx-pr-#{$i} {
    padding-right: $padding;
  }
}

// Margin
.dx-m-auto {
  margin: auto;
}
.dx-mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.dx-my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// Margin-x
@for $i from 1 through 15 {
  .dx-mx-#{$i} {
    // 1 unit = 0.25rem - Hitung nilai margin dalam rem ($i x 0.25rem)
    $margin: $i * 0.25rem;
    margin-left: $margin;
    margin-right: $margin;
  }
}

// Margin-y
@for $i from 1 through 15 {
  .dx-my-#{$i} {
    // 1 unit = 0.25rem
    $margin: $i * 0.25rem;
    margin-top: $margin;
    margin-bottom: $margin;
  }
}

// mt, mb, ml, mr 1-15
@for $i from 1 through 15 {
  $margin: $i * 0.25rem;

  .dx-mt-#{$i} {
    margin-top: $margin;
  }
  .dx-mb-#{$i} {
    margin-bottom: $margin;
  }
  .dx-ml-#{$i} {
    margin-left: $margin;
  }
  .dx-mr-#{$i} {
    margin-right: $margin;
  }
}

// Ukuran teks
@each $size-name, $size-value in $text-size {
  .dx-text-#{$size-name} {
    font-size: $size-value;
  }
}

// Iterasi melalui map membuat kelas utilitas warna secara otomatis
// Warna
@each $name, $value in $color {
  // Kelas warna
  .dx-#{$name} {
    color: $value;
  }
}
// Warna teks
@each $name, $value in $color-text {
  // Kelas teks
  .dx-#{$name} {
    color: $value;
  }
}
// Warna notif
@each $name, $value in $color-notif {
  // Kelas notif
  .dx-#{$name} {
    color: $value;
  }
}
// Warna background
@each $name, $value in $color-bg {
  // Kelas background
  .dx-#{$name} {
    color: $value;
  }
}

// Font
// Membuat kelas utilitas untuk setiap ketebalan
@each $name, $weight in $font-weights {
  .dx-#{$name} {
    font-weight: $weight;
  }
}

.dx-font-italic {
  font-style: $font-style-italic;
}

.dx-shadow {
  box-shadow: rgba(17, 17, 17, 0.1) 0px 1px 8px !important;
}
