@use "variables" as *;
@use "mixins" as *;
@use "inheritance" as *;

//* Section
.dx-section {
  margin-left: 180px;
  transition: margin-left 0.5s;
}
.dx-section.dx-sidebar {
  &--closed {
    margin-left: $sidebar-close-width;
  }
}

//* Sidebar
.dx-sidebar {
  @include sidebar-base();
}
.dx-sidebar {
  &.dx-sidebar--closed {
    width: $sidebar-close-width;
    * {
      opacity: 0;
      transition: opacity $sidebar-transition;
    }
  }
}
#openBtn {
}

.dx-nav-link {
  color: $abu-abu-terang;
  font-size: 0.8rem;
  display: flex;
  -webkit-box-align: center;
  width: 100%;
  padding: 1rem 1.5rem;
  &.active,
  &:hover {
    color: $active-hover-text-color;
    background-color: $active-hover-bg-color;
    text-decoration: none;
  }
}
.dx-nav-icon {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
  &::before {
    font-size: 22px;
  }
}

.dx-icon-rotate {
  transform: rotate(180deg);
}

//* Logo
.dx-logo {
  width: 120px;
}

//* Content
.dx-content-wrap {
  color: $abu-abu;
  padding: 30px 0px 0px;
}

//* Notice
.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  .dx-notice-icon {
    right: 1.25rem;
    position: absolute;
    top: -1.25rem;
    right: 2.5rem;
    max-width: 10rem;
    width: 100%;
    height: auto;
  }
}

.dx-notice-text {
  padding-left: 15px;
  padding-right: 15px;
  --padding-right: calc(10rem + 3rem);
}

// Logo image
.dx-img-ht {
  width: 120px;
}

.dx-edit-dropdown {
  border: 0px;
  padding: 0px;
  top: 15px !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  overflow: auto;
  border-radius: 0.25rem;
  background-color: $putih;
  margin-bottom: 0;
}

.dx-logout {
  &:hover {
    background-color: $biru-muda;
    cursor: pointer;
  }
}

//* Content Wrap
.dx-content-wrap {
  color: $abu-abu;
  padding: 30px 0px 0px;
}

//* Notice
.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75em 1.25em;
  margin-bottom: 1em;
  border: 1px solid transparent;
  border-radius: 4px;

  // Loop untuk setiap tipe notice
  @each $name, $bgcolor in $color-notif {
    @if $name != "information" {
      &-#{$name} {
        background-color: $bgcolor;
        // Jika ada warna title untuk tipe ini
        @if map-has-key($color-title, $name) {
          .dx-notice-title {
            color: map-get($color-title, $name);
          }
        }
      }
    }
  }
  // Information dibuat manual
  &-information {
    background-color: map-get($color-notif, "information");
  }
}

.dx-notice .dx-notice-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.75;
  margin-bottom: 1rem;
}

.dx-notice-body-text {
  padding-left: 15px;
  padding-right: 15px;
}

//* Items Page

// Avatar
img.dx-avatar {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.dx-user-fullname {
  font-size: 20px;
  color: $abu-abu;
}

.dx-span-inbox {
  font-size: 12px;
  color: $abu-abu-text;
}


//* Grid
.dx-grid {
  display: grid;
  gap: 2rem;
  text-align: center;
  margin-bottom: 5em;

  // Mobile
  grid-template-columns: 1fr;
  // Tablet
  @include respond-to(md, min) {
    grid-template-columns: 1fr 1fr;
  }
  // Desktop
  @include respond-to(xl, min) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

//* Navlink - Nesting
ul.dx-title-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding-left: 0;
  border-bottom: 1px solid rgb(239, 238, 237);
}

li.dx-title-card {
  font-weight: 500;
  min-width: 100px;
  padding: 0 20px;

  &:first-child {
    padding-left: 0;
  }
}

.dx-title-card {
  .nav-link.dx-title-card {
    padding: 0 0 5px;
    position: relative;
    font-weight: normal;

    &:visited {
      color: rgb(204, 204, 204);
    }

    &.active,
    &:hover {
      font-weight: 500;
      color: $biru-muda !important;

      &::after {
        content: " ";
        position: absolute;
        bottom: -1px;
        display: block;
        width: 100%;
        border-bottom: 2px solid $kuning;
      }
    }
  }
}

.li {
  @include li-style($biru-muda, $putih);
}

//* Card - Nesting
.dx-card {
  &.dx-card-body {
    background-color: $warna-bg-putih;
    color: $warna-bg-abu-abu;
    border-radius: 4px;
    padding: 0 20px;

    span {
      display: block;
    }

    .dx-card-item {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;

      &:not(:last-child) {
        border-bottom: 1px solid rgb(239, 238, 237);
      }

      .dx-card-item-left {
        text-align: left;
      }

      .dx-card-item-right {
        text-align: right;
        .btn {
          margin-left: 0.5rem;
        }
      }
    }
  }
}

//* Breakpoint ukuran HP dan Tablet
// Sidebar
@include respond-to(md, max) {
  .dx-section {
    margin: 0px 0px 30px 180px;
    margin-left: 0;
  }
  .dx-notice {
    .dx-notice-icon {
      right: 1.25rem !important;
      max-width: 5.725rem !important;
    }
    .dx-notice-body {
      font-size: 14px;
      line-height: 22px;
    }
    .dx-notice-title {
      font-size: 1rem;
    }
  }
}

.dx-sidebar-ht {
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px -10px 10px;
}
.dx-nav-link-ht {
  color: $abu-abu-text;
  font-size: 0.8rem;
  &.active,
  &:hover {
    background-color: transparent;
    color: $biru-muda;
    text-decoration: none;
  }
}
.dx-nav-link-ht > .bi {
  display: block;
  margin: 0px auto 5px;
}
.dx-nav-icon-ht {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  &::before {
    font-size: 22px;
  }
}

@include respond-to(md, min) {
  .dx-sidebar {
    display: block !important;
  }

  .md\:dx-logo-img {
    display: none;
  }

  .md\:dx-block {
    display: block;
  }

  .md\:dx-hidden {
    display: none;
  }

  .md\:dx-flex-row {
    flex-direction: row;
  }

  .md\:dx-flex-1 {
    flex: 1 1 0%;
  }
  // Ukuran Hp dan Tablet
  .dx-sidebar-ht {
    display: none;
  }
  .dx-notice-body-text {
    padding-right: calc(10rem + 3rem);
  }
}

@include respond-to(sm, min) {
  .sm\:dx-text-lg {
    font-size: 1.125rem;
  }
}
