@use "variables" as *;
@use "mixins" as *;
@use "inheritance" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0 solid $warna-root;
}

body {
  font-family: $font-family-base;
  background-color: $warna-bg;
  color: $abu-abu;
  margin: 0;
}

.#{$prefix}container {
  max-width: 100%;
  padding: 0;
  position: relative;
  -webkit-box-align: 1;
  flex-grow: 1;
}

//* Sidebar
.dx-sidebar {
  @include sidebar-base();
}
.dx-sidebar {
  &--closed {
    width: $sidebar-close-width;
    * {
      opacity: 0;
      transition: opacity $sidebar-transition;
    }
  }
}
.dx-sidebar {
  margin-left: $sidebar-close-width;
}
.dx-sidebar {
  .li {
    color: $text-color-sidebar-li;
    font-size: $font-size-sidebar-li;
    display: flex;
    align-items: center;
    width: 100%;
    padding: $padding-sidebar-li;
  }
}

.dx-sidebar {
  .dx-nav-link {
    color: $abu-abu-terang;
    font-style: 21px;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.5rem;
    &:active,
    &:hover {
      color: $active-hover-text-color;
      background-color: $active-hover-bg-color;
      text-decoration: none;
    }
  }
}
.dx-nav-icon {
  position: relative;
  width: 21px;
  height: 21px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px 0 0;
  &::before {
    font-size: 22px;
  }
}

.dx-icon-rotate {
  transform: rotate(180deg);
}

//* Logo
.dx-logo {
  width: 120px;
}

//* Dropdown
@for $i from 1 through 10 {
  .dx-h-#{$i} {
    $height: $i * 0.25rem;
    height: $height;
  }
}

//* Posisi Teks
.dx-text-center {
  @extend %align-center-base;
}

.dx-text-right {
  @extend %align-right-base;
}

.dx-text-left {
  @extend %align-left-base;
}

.dx-text-justify {
  @extend %align-justify-base;
}

.dx-truncate {
  @include truncate;
}

//* Content
.dx-content-wrap {
  color: $abu-abu;
  padding: 30px 0px 0px;
}

//* Notice
.dx-notice {
  font-size: 0.875rem;
  min-height: 125px;
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  .dx-notice-icon {
    right: 1.25rem;
    position: absolute;
    top: -1.25rem;
    right: 2.5rem;
    max-width: 10rem;
    width: 100%;
    height: auto;
  }
}

.dx-notice-text {
  padding-left: 15px;
  padding-right: 15px;
  --padding-right: calc(10rem + 3rem);
}

// Warna notif
@each $name, $value in $color-notif {
  // Kelas notif
  .dx-notice-#{$name} {
    .dx-notice-title {
      color: $value;
    }
  }
}

//* Breakpoint ukuran HP dan Tablet
@include respond-to(md, max) {
  .dx-sidebar {
    display: block;
  }
  .dx-notice {
    .dx-notice-icon {
      right: 1.25rem !important;
      max-width: 5.725rem !important;
    }
    .dx-notice-body {
      font-size: 14px;
      line-height: 22px;
    }
    .dx-notice-title {
      font-style: 1rem;
    }
  }
}

@include respond-to(md) {
  .md\:dx-logo-img {
    display: none;
  }

  .md\:dx-block {
    display: block;
  }

  .md\:dx-hidden {
    display: none;
  }

  .md\:dx-flex-row {
    flex-direction: row;
  }

  .md\:dx-flex-1 {
    flex: 1 1 0%;
  }
}
