@use "variables" as *;

//* Button
%btn-base {
  position: relative;
  // display: inline-block;
  text-align: center;
  vertical-align: middle;
  font-size: 0.9rem;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: 0 1rem;
  min-width: 100px;
  // min-height: 30px;
  border-radius: 0.25rem;
  font-weight: 500;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  min-height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

%btn-base-col {
  display: inline-block;
  font-weight: 600;
  padding: 0.6rem 1.2rem;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

//* Align / Meluruskan Teks
%align-center-base {
  text-align: center;
}

%align-right-base {
  text-align: right;
}

%align-left-base {
  text-align: left;
}

%align-justify-base {
  text-align: justify;
}

//* Form Control
%form-input {
   width: 100%;
    font-size: $form-font;
    padding: 0.4em 0.8em;
    border: none;
    border-bottom: 1px solid $form-border;
    // background: transparent;
    background: $putih;
    transition: border-color 0.2s ease;

    &:focus {
      outline: none;
      border-bottom: 1px solid $form-focus;
    }

    &::placeholder {
      color: #aaa;
    }
}

