@use "variables" as *;
//* Login
// Margin dan Padding 0
@mixin zero-spacing($property) {
  @each $dir in $directions {
    .dx-#{$property}-#{$dir}-0 {
      #{$property}-#{$dir}: 0;
    }
  }
}

//* Label
@mixin form-label-style {
  position: absolute;
  top: 5px;
  left: 1rem;
  margin-bottom: 0;
  pointer-events: none;
  cursor: text;
  transition: $label-transition;
  padding-bottom: 0;
  font-size: $label-font-size;
  font-weight: $label-font-weight;
  color: $label-color;
}

//* Form Input
@mixin input-style {
  height: $input-height;
  width: 100%;
  padding: $input-padding;
  font-size: $input-font-size;
  color: $primary-color;
  border-radius: 0;
  border: 1px solid $border-color;
  outline: none;
}

//* Check Box
@mixin control-reset {
  box-sizing: border-box;
  padding: 0;
}

@mixin visually-hidden-input($top: $input-top-offset) {
  position: absolute;
  top: $top;
  opacity: 0;
  z-index: 1;
}

@mixin checkbox-box(
  $size: $size-control,
  $radius: $radius-sm,
  $border-color: $color-border,
  $bg: $color-bg
) {
  content: "";
  display: inline-block;
  position: absolute;
  width: $size;
  height: $size;
  top: 0.25em; // mengikuti original
  left: 0;
  border: 1px solid $border-color;
  border-radius: $radius;
  background-color: $bg;
  transition: border $transition-fast, color $transition-fast;
}

@mixin checkbox-tick($color: $color-primary, $thickness: $check-thickness) {
  content: "";
  position: absolute;
  width: 0.3125em;
  height: 0.625em;
  left: 0.325em;
  top: 0.325em;
  border-style: solid;
  border-width: 0 $thickness $thickness 0;
  border-color: $color;
  transform: rotate(45deg);
}

@mixin focus-ring {
  outline: none;
  box-shadow: 0 0 0 $focus-ring-width $focus-ring-color;
}

//* Admin
//* Sidebar
@mixin sidebar-base(
  $bg: $sidebar-bg,
  $width: $sidebar-width,
  $transition: $sidebar-transition
) {
  height: 100%;
  background-color: $bg;
  position: fixed;
  width: $width;
  top: 0;
  bottom: 0;
  display: none;
  transition: $transition;
  overflow-x: hidden;
  cursor: pointer;
}

//* Posisi Teks
@mixin text-align-direction($direction) {
  text-align: $direction;
}
@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

//* Breakpoint map
@mixin respond-to($breakpoint, $type: min) {
  @if $type == min {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else if $type == max {
    @media (max-width: (map-get($breakpoints, $breakpoint) - 1)) {
      @content;
    }
  }
}
