//* Prefix
$prefix: "dx-";

//* Font Size
$base-font-size: 14px;

//* Variable Warna
$putih: #fff;
$abu-abu-terang: #ccc;
$abu-abu: #535353;
$biru-muda: #266ef4;
$biru: #0652dd;
$merah-muda: #ec5867;
$merah: #e03244;
$hijau-muda: #5cc093;
$hijau: #32ba7c;
$kuning-muda: #f1d255;
$kuning: #f1c40f;
$abu-abu-text: #a0a4a8;
$merah-text: #e02424;
$hijau-text: #32ba7c;
$warna-success: #edf7f3;
$warna-warning: #fcf5e3;
$warna-error: #fbe9eb;
$warna-bg: #fafafa;
$warna-root: #d2d6dc;
$warna-bg-putih: #fff;
$warna-bg-abu-abu: #a0a4a8;

// Map Warna
$color: (
  "putih": $putih,
  "abu-abu": $abu-abu,
  "biru": $biru,
  "biru-muda": $biru-muda,
  "merah": $merah,
  "hijau": $hijau,
  "kuning": $kuning,
);

// Map warna teks
$color-text: (
  "abu-abu": $abu-abu-text,
  "abu-terang": $abu-abu-terang,
  "merah": $merah-text,
  "hijau": $hijau-text,
  "biru": $biru,
  "biru-muda": $biru-muda,
);

// Warna notif
$color-notif: (
  "success": $warna-success,
  "warning": $warna-warning,
  "error": $warna-error,
  "information": $putih,
);

// Warna title
$color-title: (
  "success": $hijau,
  "error": $merah,
  "warning": $kuning,
);

// Warna background
$color-background: (
  "bg-putih": $warna-bg,
  "bg-biru": $biru,
  "bg-hijau": $hijau,
  "bg-kuning": $kuning,
  "bg-merah": $merah,
);

// Warna badge
$badge-colors: (
  "primary": $biru,
  "success": $hijau,
  "warning": $kuning,
  "danger": $merah,
  "info": $abu-abu,
);


//* Tipografi
$font-family-base: "Quicksand", sans-serif;

//* Ukuran teks
$text-size: (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  "2xl": 1.5rem,
  "3xl": 1.875rem,
);

//* Font Style
// Ketebalan font
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;
// Gaya font
$font-style-italic: italic;
$font-style-normal: normal;

// Map Ketebalan font
$font-weights: (
  "thin": $font-weight-thin,
  "light": $font-weight-light,
  "regular": $font-weight-regular,
  "medium": $font-weight-medium,
  "semi-bold": $font-weight-semi-bold,
  "bold": $font-weight-bold,
  "black": $font-weight-black,
);

//* Margin dan Padding 0
$directions: top, bottom, left, right;

//* Label
$label-color: $abu-abu;
$label-font-size: 12px;
$label-font-weight: $font-weight-medium;
$label-transition: all 0.2s ease-in-out;

//* Form
$primary-color: $biru;
$border-color: rgb(239, 238, 237);
$input-height: 49px;
$input-padding: 22px 1rem 5px;
$input-font-size: 12px;

//* Shadow
$focus-color: $biru;
$box-shadow: rgba(17, 17, 17, 0.1) 0px 1px 8px !important;

//* Ukuran tinggi
$base-height: 1rem;

//* Check Box
$color-border: $abu-abu-terang;
$color-bg: $putih;
$color-primary: $biru;
$radius-sm: 3px;
$size-control: 1em;
$gap-left: 1.75em;
$input-top-offset: 0.25rem;
$check-thickness: 1px;
$transition-fast: 0.15s ease-in-out;
$focus-ring-color: rgba($color-primary, 0.35);
$focus-ring-width: 3px;

// Map untuk mendefinisikan semua lapisan Z-Index di aplikasi
$z-layers: (
  "base": 1,
  // Elemen dasar (misalnya: konten utama)
  "dropdown": 10,
  // Menu drop-down
  "sticky-header": 50,
  // "sticky-header": 100,
  // Header yang selalu terlihat (sticky/fixed)
  "overlay": 500,
  // Latar belakang gelap di belakang modal/sidebar
  "modal": 600,
  // Jendela Modal (di atas overlay)
  "toast": 700,
  // Notifikasi Toast/Alert (paling atas)
  "dev-tools": 9999
    // Untuk debugging atau alat bantu pengembangan,,,,,,,,,,,,,,,,,,,,,,,,
);

//* Halaman Admin
//* Sidebar
$sidebar-width: 180px;
$sidebar-bg: $biru;
$sidebar-transition: 0.5s;
$sidebar-close-width: 0;
$text-color-sidebar-li: $abu-abu-terang;
$font-size-sidebar-li: 0.8rem;
$padding-sidebar-li: 1rem 1.5rem;
$active-hover-text-color: $biru-muda;
$active-hover-bg-color: $warna-bg;

//* Modal
$modal-width: 360px;
$animation-duration: 1s;
$animation-name: fade-opacity;
$animation-timing: ease;
$color-modal-bg-light: $warna-bg;
$color-modal-biru: $biru;
$color-modal-kuning: $kuning;
$color-modal-text-label: $abu-abu-terang;
$color-modal-focus-border: $biru-muda;

//* Breakpoint map
$breakpoints: (
  sm: 640px,
  // Mobile kecil
  md: 768px,
  // Tablet / Mobile besar
  lg: 1024px,
  // Laptop / Small desktop
  xl: 1280px,
  // Desktop besar
  xxl: 1536px // Monitor extra besar,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
);
